.cart-product-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }
  
  .cart-product-image {
    width: 6rem;
  }
  
  .cart-product-info {
    flex-grow: 1;
  }
  
  .product-name {
    font-weight: 600;
  }
  
  .product-size,
  .product-extras {
    font-size: 0.875rem;
  }
  
  .product-extras {
    color: #6b7280;
  }
  
  .product-size span {
    font-weight: 500;
  }
  
  .cart-product-price {
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  .remove-button {
    margin-left: 0.5rem;
  }
  
  .remove-button button {
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  